.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #ff0808;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
